*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#code{
    font-size: 16px;
    margin: 10vh 0;
    overflow: hidden;
}
#content{

}
.token.property{
    color: black;
}
.token.punctuation{
    color: black;
}
.token.selector{
    color: black;
}
.token.function{
    color: black;
}
.token.comment{
    color: black;
}
